<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>360736975587-nkuhjbui0mhunp8n9qoljg4g417b4rlj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.360736975587-nkuhjbui0mhunp8n9qoljg4g417b4rlj</string>
	<key>API_KEY</key>
	<string>AIzaSyDSlUUA-UohzUVUM5Q9JsLZtICXcqVj804</string>
	<key>GCM_SENDER_ID</key>
	<string>360736975587</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.smtg.animalkingdomm</string>
	<key>PROJECT_ID</key>
	<string>animalkingdomm-609ce</string>
	<key>STORAGE_BUCKET</key>
	<string>animalkingdomm-609ce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:360736975587:ios:e6f186535895bc4e9fb3d6</string>
</dict>
</plist>